<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="{{ metaDesc }}">
    <link rel="stylesheet" href="/style.css">
</head>
<body data-menustate = "closed">
    {% include modules/header %}
    <main data-menustate="closed">
        {{ content | safe }}
    </main>
    {% include modules/footer %}
    <script src="/main.js"></script>
</body>
</html>