<header>
    <div class="headerWrapper">
        <a href="/" class="logoWrapper">
            <img src="/assets/logo.svg" class="logo" alt="Logo">
        </a>
        <menu>
            <label for="menuToggle" id="menuToggle__label">toggle</label>
            <input type="checkbox" name="menuToggle" id="menuToggle">
            <ul class="menuList">
                {% for listItem in collections.tagsList %}
                <li class="menuList__item">
                    <a href="/{{listItem}}">{{listItem}}</a> 
                </li>
                {% endfor %}
            </ul>
        </menu>
    </div>
</header>