<header>
    <div class="headerWrapper">
        <img src="./assets/logo.svg" class="logo" alt="Logo">
        <menu>
            <ul class="menuList">
                <li class="menuList__item">Pfui</li>
                <li class="menuList__item">Art</li>
                <li class="menuList__item">Meta</li>
                <li class="menuList__item">Grumpy</li>
            </ul>
        </menu>
    </div>
</header>