---
layout: base.liquid
pageType: pages
permalink: "{{ title | slug }}/"
---

{% include modules/breadcrumb.liquid %}
<div class="articleHeader"> 
    <div class="articleHeader__content">
        <h1 class="articleHeader__title">{{ title }}</h1>
        <p class="articleHeader__description">{{ description }}</p>
    </div>
</div>
<div class="articleMain">

    {{ content | safe}}

</div>