html {
  --col-neutral-00: hsl(0, 0%, 100%);
  --col-neutral-80: hsl(0, 0%, 80%);
  --col-neutral-60: hsl(0, 0%, 60%);
  --col-neutral-40: hsl(0, 0%, 40%);
  --col-neutral-20: hsl(0, 0%, 20%);
  --col-neutral-10: hsl(0, 0%, 10%);
  --col-accent-50: hsl(41, 100%, 50%); }

body {
  font-size: 16px;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 300; }

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body, div, header, main, footer, section, article, ul, ol, li, a, h1, h2, h3, p {
  padding: 0;
  margin: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0; }

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

header {
  width: 100%;
  padding: 1rem 0;
  margin-bottom: 3rem;
  background-color: var(--col-neutral-20); }

menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

a {
  text-decoration: none;
  color: currentColor; }

.logoWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start; }

.logo {
  overflow: visible;
  -o-object-fit: contain;
     object-fit: contain; }

.headerWrapper {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 0 1rem; }

menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 1rem;
  top: 0;
  padding: 1rem;
  background: var(--col-neutral-20);
  z-index: 10; }
  @media screen and (min-width: 468px) {
    menu {
      position: static; } }

.menuList {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 0px;
  opacity: 0; }
  @media screen and (min-width: 468px) {
    .menuList {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      height: auto;
      opacity: 1; }
      .menuList .menuList__item + .menuList__item {
        margin-left: 2rem; } }

#menuToggle {
  display: none; }

@media screen and (min-width: 468px) {
  #menuToggle__label {
    display: none; } }

#menuToggle:checked + .menuList {
  height: auto;
  opacity: 1; }

.menuList__item {
  font-size: 1.25rem;
  color: var(--col-neutral-80); }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--col-neutral-20);
  color: white;
  margin-top: 5rem;
  padding: 2rem 1rem; }

.footer__linkList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none; }

.footer__linkList__item > a {
  text-decoration: none;
  color: currentColor; }

.footer__linkList__item + .footer__linkList__item {
  margin-left: 1rem; }

.categoryTitle {
  font-size: 56px;
  font-family: 'Times New Roman', serif;
  color: var(--col-neutral-20);
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  display: inline-block;
  padding: .25em 1em;
  margin: 2em 0;
  letter-spacing: -1.2px; }

.categoryLink {
  margin-top: 3rem;
  font-size: 2rem;
  text-decoration: none;
  color: var(--col-neutral-20);
  overflow: visible;
  position: relative;
  font-family: 'Times New Roman', serif; }
  .categoryLink::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 40px;
    height: 1px;
    outline: 1px solid transparent;
    background-color: currentColor;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 4px);
            transform: translate(-50%, 4px); }
  .categoryLink:hover::before {
    background-color: var(--col-accent-50);
    outline-color: var(--col-accent-50);
    -webkit-transform: ranslate(-50%, 32px);
            transform: ranslate(-50%, 32px); }

.teaser {
  overflow: hidden; }

.teaserSplitHero {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (min-width: 1024px) {
    .teaserSplitHero {
      -ms-grid-columns: 1fr 1fr;
          grid-template-columns: 1fr 1fr; } }

.teaser__content {
  max-width: 580px;
  padding: 2rem;
  background-color: var(--col-neutral-20);
  -webkit-box-shadow: 0 3px 10px var(--col-neutral-80);
          box-shadow: 0 3px 10px var(--col-neutral-80); }

.teaser__title {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: .25em;
  color: var(--col-neutral-00); }
  @media screen and (min-width: 600px) {
    .teaser__title {
      font-size: 2.5rem;
      font-weight: 300; } }

.teaser__copy {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--col-neutral-00); }
  @media screen and (min-width: 600px) {
    .teaser__copy {
      font-size: 1.25rem; } }

.teaser__link {
  display: inline-block;
  color: var(--col-neutral-00);
  font-size: 1.25rem;
  text-decoration: none;
  margin-top: 1em; }
  .teaser__link::after {
    display: inline-block;
    content: '';
    border-bottom: 1px solid var(--col-neutral-00);
    border-right: 1px solid var(--col-neutral-00);
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    height: .75em;
    width: .75em;
    margin-left: .25em; }

.teaserTiles {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  grid-gap: 1.5rem;
  margin: 0 auto;
  width: 100%; }
  @media screen and (min-width: 1200px) {
    .teaserTiles {
      width: 1200px; } }
  .teaserTiles.noMargin {
    width: 100%; }

.bigTile {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  grid-column: 1 / -1;
  background-color: grey;
  position: relative;
  height: 600px; }

@media screen and (hover: hover) {
  .bigTile:hover img, .mediumTile:hover img {
    -webkit-transform: scale(1.075);
            transform: scale(1.075); } }

.bigTile__image, .mediumTile__image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 1200ms ease-in-out;
  transition: -webkit-transform 1200ms ease-in-out;
  transition: transform 1200ms ease-in-out;
  transition: transform 1200ms ease-in-out, -webkit-transform 1200ms ease-in-out; }

.bigTile__gradient, .mediumTile__gradient {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(var(--col-neutral-10)));
  background: linear-gradient(transparent, var(--col-neutral-10)); }

.bigTile__content {
  z-index: 3;
  color: white;
  padding-left: 2em;
  padding-bottom: 2em;
  position: absolute;
  bottom: 0;
  max-width: 75ch; }

.bigTile__link, .mediumTile__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4; }

.mediumTile {
  grid-column: 1 / -1;
  background-color: grey;
  position: relative;
  height: 450px; }
  @media screen and (min-width: 1024px) {
    .mediumTile {
      grid-column: auto / span 6; } }
  @media screen and (min-width: 1600px) {
    .mediumTile {
      grid-column: auto / span 4; } }

.mediumTile__image {
  width: 100%;
  height: 100%; }

.mediumTile__content {
  z-index: 3;
  color: white;
  padding: 2em;
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 75ch; }

.smallTile {
  grid-row: auto;
  grid-column: 1 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (min-width: 1024px) {
    .smallTile {
      grid-column: auto / span 4; } }

.smallTile__image {
  width: 100%; }

.smallTile__content {
  padding: 1em; }
  .smallTile__content .teaser__title, .smallTile__content .teaser__copy, .smallTile__content .teaser__link {
    color: var(--col-neutral-20); }
  .smallTile__content .teaser__link::after {
    border-right: 1px solid var(--col-neutral-20);
    border-bottom: 1px solid var(--col-neutral-20); }
  .smallTile__content .teaser__title {
    font-size: 2em; }

.articleHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
  padding: 1rem; }
  @media screen and (min-width: 769px) {
    .articleHeader {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; }
      .articleHeader .articleHeader__title {
        text-align: left; } }

.articleHeader__image {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin-bottom: 2rem; }
  @media screen and (min-width: 480px) {
    .articleHeader__image {
      height: 400px;
      width: 400px; } }
  @media screen and (min-width: 769px) {
    .articleHeader__image {
      margin-right: 1rem; } }

.articleHeader__content {
  max-width: 48ch; }

.articleHeader__title {
  font-family: "Times New Roman", sans-serif;
  font-size: 3rem;
  margin-bottom: .5em;
  text-align: center; }

.articleHeader__description {
  font-size: 1.25rem;
  line-height: 1.5; }

.articleMain {
  max-width: 60ch;
  font-size: 1.25rem;
  line-height: 1.5;
  padding: 1rem; }
  .articleMain p + p {
    margin-top: 1em; }
  .articleMain p:first-of-type::first-letter {
    font-size: 3em;
    line-height: 1;
    font-weight: 600;
    margin-right: .2em;
    float: left; }
/*# sourceMappingURL=style.css.map */