<footer class="footer">

    <div class="footer__copyright">
        <p>© 2021 {{ base.name }}</p>
    </div>
    <ul class="footer__linkList">
        {% for page in collections.footer %}
            <li class="footer__linkList__item"><a href="/{{page.data.title | slug}}">{{page.data.title}}</a></li>
        {% endfor %}
    </ul>

</footer>