<article class="teaser teaserSplitHero">
    <img class="teaser__image" src="/assets/{{article.data.image}}" alt="Teaser Image">
    <section class="teaser__content">
        <h3 class="teaser__title">{{article.data.title}}</h3>
        <p class="teaser__copy">{{article.data.description}}</p>
        <a href="{{article.url}}" class="teaser__link">Continue</a>
    </section>
</article>