---
layout: 'base.liquid'
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - featured
    - article
    - all
    - tagsList
permalink: "{{ tag }}/"
---

<section class="teaserList teaserTiles">

    {% for article in collections[tag] %}
        {% if forloop.first %}
            {% include modules/bigTile %}
        {% else %}
            {% include modules/smallTile %}
        {% endif %}
        
    {% endfor %}

</section>