---
title: Web and Flow
metaDesc: Web and Flow ist ein Magazin über UX, Design und Kultur.
layout: 'base.liquid'
---
        <!-- <section class="teaserList teaserTiles"> -->
            {%- for article in collections.featured -%}
                {% include modules/splitHero %}
            {%- endfor -%}
        <!-- </section>   -->

       
        {%- for tag in collections.tagsList -%}

            
            <section class="noMargin flex-col centered">
                <h2 class="categoryTitle">{{ tag }}</h2>
                <div class="teaserList teaserTiles noMargin">
                    {% assign count = 1 %}

                    {% for article in collections[tag] %}
                        {% if article.data.tags contains 'featured' and count <= 4 %}
                            {% continue %}
                        {% elsif count <= 4 %}
                            {% include modules/mediumTile %}
                            {% assign count = count | | plus: 1 %}
                        {% else %}
                            {% break %}
                        {% endif %}
                        
                    {% endfor %}
                </div>
    
                
            </section>

            <a href="/{{ tag }}" class="categoryLink">All {{ tag }}</a>

        {%- endfor -%}