---
title: Home
layout: 'base.liquid'
---
        <!-- <section class="teaserList teaserTiles"> -->
            {%- for article in collections.featured -%}
                {% include modules/splitHero %}
            {%- endfor -%}
        <!-- </section>   -->

       
        {%- for tag in collections.tagsList -%}

            <h2 class="categoryTitle">{{ tag }}</h2>
            <section class="teaserList teaserTiles noMargin">

                {% assign count = 1 %}

                {% for article in collections[tag] %}
                    {% if article.data.tags contains 'featured' and count <= 4 %}
                        {% continue %}
                    {% elsif count <= 4 %}
                        {% include modules/mediumTile %}
                        {% assign count = count | | plus: 1 %}
                    {% else %}
                        {% break %}
                    {% endif %}
                    
                {% endfor %}
    
                
            </section>

            <a href="/{{ tag }}" class="categoryLink">All {{ tag }}</a>

        {%- endfor -%}