---
title: Home
layout: 'base.liquid'
---
        <section class="teaserList teaserTiles">
            {%- for article in collections.featured -%}
                {% include modules/bigTile %}
            {%- endfor -%}
        </section>  

       
        {%- for tag in collections.tagsList -%}

            <h2 class="categoryTitle">{{ tag }}</h2>
            <section class="teaserList teaserTiles noMargin">

                {% for article in collections[tag] %}
                    {% include modules/mediumTile %}
                {% endfor %}
    
                
            </section>

            <a href="/{{ tag }}" class="categoryLink">All {{ tag }}</a>

        {%- endfor -%}